.soc {
    margin-top: 2%;
}

.social-buttons {
    margin-top: 7px;
}

span.rating {
    display: none !important;
}

/*#drop {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*background : red;*/
/*}*/

.dropzone {
    min-height: 150px !important;
}

.playlist {
    display: block;
    border-bottom: 2px solid;
    min-height: 50px;
    color: #8E6C6E;
}

.playlists div:nth-child(1) {
    font-size: xx-large;
    min-width: 210px;
}

.playlists {
    margin-right: 100px;
    font-size: x-large;

}
.table-header {
    display: block;
    margin-top: 20px;
    margin-right: 100px;
    border-bottom: 3px solid;
    font-size: -webkit-xxx-large;
    color: #6B5463;
}
.table-header div {
    display: inline-block;
    margin-right: 10px;
}

.table-header div:nth-child(1) {
    min-width: 200px;
    font-weight: 500;
}

.playlists div:nth-child(2) {
    font-size: 22px;
}

.playlist div {
    display: inline-block;
    margin-right: 10px;
}

.playlists a:nth-child(even) {
    background: #B9C8CD;
    /*opacity: 0.8;*/
}

.playlists a:nth-child(odd) {
    background: #BEB6BB;
    opacity: 0.9;
}

.playlistForm {
    display: none;
}

div .play-pause {
    width: 40px !important;
}

ol li a {
    display: inline !important;
}

.player {
    display: none;
}

.star-rating .caption, .star-rating .clear-rating {
    display: none;
}

.star-rating {
    display: inline;
}

.form-control {
    display: inline;
    width: 75%;
}

#pl_name, #pl_desc {
    cursor: pointer;
}

.textarea {
    width: 110%;
    min-height: 150px;
}

.modal-dialog {
    margin-left: -20% !important;
}

.modal-content {
    padding: 10px 10px;
}

.modal-content label {
    min-width: 50px;
}
